[Unit]
After=network.target
Description=Wireguard VPN gateway service

[Service]
ConditionPathExists=/etc/default/wig-gateway
EnvironmentFile=/etc/default/wig-gateway
ExecStart=/usr/bin/wig gw $ARGS
Restart=always
RestartSec=3s
LimitNOFILE=65535
User=_wig
Group=_Wig
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ReadOnlyDirectories=/

CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
